@{
    ViewData["Title"] = "Login";
}
@using Microsoft.AspNetCore.Http
@model Usuario

<form asp-action="Login" method="post">
    <p>
        <label asp-for="Login">Login</label>
        <input asp-for="Login">
    </p>

    <p>
        <label asp-for="Senha">Senha</label>
        <input asp-for="Senha">
    </p>

    <input type="submit" value="Login">
</form>
<p>@ViewBag.Mensagem</p>